body{
    background-color: #cbb9ee;
}

.container{
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #FFF;
    color: #440469;
}

.container input{
    margin: 10px;
    padding: 15px;
    width: 50%;
    background-color: #fcf7ff;
}

.container button{
    padding: 20px;
    width: 150px;
    background-color: #440469;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
}

.messages{
    width: auto;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    background-color: #d5b5ff;
}